.main-display{
    display:flex;
    justify-content: centre;
    margin-left: 50px;
}
.display{
    height:400px;
    width:500px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/060/223/non_2x/rocket-is-flying-in-galaxy-space-of-the-universe-vector.jpg")
    
}
.display-text{
    padding: 50px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: black;
    margin-top: 40px;
    
}
#show-btn{
     width:300px;
    height:30px;
    border-radius:10px;
    background-color:rgb(234, 111, 189);
    margin-top:20px;
}