.container{
 display:flex;
  justify-content:center;
  align-items: center;
  
}
.form-div{
  
    height:400px;
    width:500px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/060/223/non_2x/rocket-is-flying-in-galaxy-space-of-the-universe-vector.jpg")
    
}
.label-Styles{
    text-align: center;
    margin-top: 25px;
}
.input-styles{
    margin-bottom:15px;
    margin-top:20px;
    border-radius: 5px;
}
#input-design{
    margin-top:30px;
    border-radius:5px;
    margin-bottom:15px;
}
#btn{
    width:300px;
    height:30px;
    border-radius:10px;
    background-color:rgb(234, 111, 189);
}
